img{
    border-radius: 5%;

        background-size: cover;
        width: 300px;
        height: 200px;
        display: inline-block;
        transition: 500ms;
   

}
body{
   
    /* background:url("https://images.unsplash.com/photo-1538438253612-287c9fc9217e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dGV4dCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80") ; */
    background:url("https://images.unsplash.com/photo-1505773170783-58f82a520465?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnwxOTM4ODgzfHxlbnwwfHx8fA%3D%3D&w=1000&q=80") ;
    color:rgb(182, 241, 239) ;
    transition: 500ms;
    background-size:auto;
    margin-top: 0px;

}
.indexdiv{
   
    display: inline-block;
    filter: drop-shadow(10px,10px,10px black);
    margin: 20px;
    transition: 500ms;
} 
/*.showdiv{
    display: inline-block;
    filter: drop-shadow(10px,10px,10px black);
    margin: 10px;
} */

.mainh1{
text-align: center;
margin-bottom:120px;
transition: 500ms;
font-size: 70px;
filter: drop-shadow(10px 10px 10px black);
filter:drop-shadow(10px 10px  3px rgb(31, 191, 165))
}
h1{
    text-align: center;
    margin: 20px;
    transition: 500ms;
    filter:drop-shadow(10px 10px  3px rgb(31, 191, 165));
    font-family: 'Bad Script', cursive;
}
h2{
    text-align: center;
    margin: 40px;
    transition: 500ms;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
}

h3{
    text-align: center;
    margin: 40px;
    transition: 500ms;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
}

button,input,a{

 text-align: center;
 color:rgb(26, 52, 39);
 background: rgba(0, 0, 0, 0.8);
 transition: 500ms;
 border: none;
 border-radius: 10%;
 width: 150px;
 height: 40px;
 color:white;
 align-items: center;
align-content: center;
font-family: 'Nanum Brush Script', cursive;

}
form{
    display: inline-block;
    align-items: center;
    align-content: center;
}
audio{
left:50%;
text-align: center;
align-items: center;
transition: 500ms;
  backdrop-filter: blur(10px);
}

.plbotton{
    margin-top:-30px ;
    align-items: center;
    align-content: center;
}
.indexdiv{
    display: inline-block;
    /* background-color: red; */
    width:300px;
    height: 200px;
    border-radius: 7px;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    transition: 500ms;
  
}
.indexdiv:hover{
    display: inline-block;
    /* background-color: red; */
    width:300px;
    height: 350px;
    border-radius: 7px;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    transition: 500ms;
    filter:drop-shadow(10px 10px  3px rgb(31, 191, 165));
  
}

.showdiv{
    display: inline-block;
    /* background-color: red; */
    width:300px;
    height: 230px;
    border-radius: 20%;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    transition: 500ms;
 
  
} 
/* div{
    display: inline-block;
  
    width:300px;
    height: 250px;
    border-radius: 7px;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    transition: 500ms;
    filter:drop-shadow(10px 10px  3px black)
  
}  */

.showdiv:hover{
    display: inline-block;
    /* background-color: red; */
    width:300px;
    height: 300px;
    border-radius: 7px;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
    transition: 500ms;
    border-radius: 5%;
    filter:drop-shadow(10px 10px  3px rgb(0, 0, 0));

} 
header{
    backdrop-filter: blur(10px);
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    margin-top: -30px;
    padding-top: 10px;
    
}

.pldiv{
    width:300px;
    height: 200px;
    border-radius: 7px;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    transition: 500ms;
    filter:drop-shadow(10px 10px  3px rgb(31, 191, 165));
    display: inline-block;
}

.firstpages{
    width: 500px;
    height: 250px;
    left:50%;
text-align: center;
align-items: center;
transition: 500ms;
  backdrop-filter: blur(10px);

}
fieldset{
    width: 500px;
    height: 250px;
text-align: center;
align-items: center;
transition: 500ms;
  backdrop-filter: blur(10px);
  align-content: center;
  background: rgba(0, 0, 0, 0.3);
}

.hidden{
    display:none;
}
p{
    color: rgb(4, 251, 255);
font-size: 25px;
backdrop-filter: blur(5px);
align-items: center;
text-align: center;
background: rgba(0, 0, 0, 0.7);
align-content: center;
/* background:rgb(31, 191, 165); */
width:450px;
backdrop-filter: blur(10px);
font-family: 'Nanum Brush Script', cursive;
font-size: 30px;
position: relative;
left: 40%;
}

.lyrics{
    display: inline-block;
    /* background-color: red; */
    width:450px;
    height: 230px;
    border-radius: 7px;
    margin: 20px;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    transition: 500ms;
    align-content: center;
    color: black;
 
}

#back{
    position: absolute;
    top:100px;
    left: 20px;
}

#audpl{
    position: relative;
    left:45%;
}