{% layout "layout.liquid" %} {% block content %}
<div class="firstpages" >
  <form action="/artists/{{artists._id}}?_method=PUT" method="POST">
    <fieldset>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter artist's name"
          value="{{artists.name}}"
        />
      </label>
      <label>
        ALBUM:<input
          type="text"
          name="album"
          placeholder="enter artist's album"
          value="{{artists.album}}"
        />
      </label>
      <label>
        <label>
         Audio link:<input
            type="text"
            name="aud"
            placeholder="enter audio file"
            value="{{artists.aud}}"
          />
        </label>
      </label>
      <input type="submit" value="Edit and Submit" />
    </fieldset>
  
  </form>
</div>
  {% endblock %}