{% layout "layout.liquid" %} {% block content %}
<div>
    <a href="/artists/new"><button>Create A Playlist</button></a>
    <a href="/users/logout"><button>Logout</button></a>

  {% for a in artists %}
  
  <article>
    <a href="/artists/{{ a._id }}"><h1> {{ a.name }} </h1>  </a>
  </article>
  {% endfor %}

  
  <audio class="audio" controls class= "audio">
    <source class="audio" src="{{ src }}" type="audio/mpeg">
  </audio>
 

</div>
{% endblock %}
