{% layout "layout.liquid" %} {% block content %}
<h2>Search for a lyrics</h2>
<div class="lyrics">
   
    <form action="/artists/lyrics" method="POST">
       Artist name:<input name="name" type="text"><br>
       Song Title:   <input name="title" type="text"><br>
        <input type="submit" value="search">
    </form>
    <p class="lyp">{{ response.lyrics  }}</p>
</div>

<a id="back" href="/Artists/"><button>Back to Main</button></a>
{% endblock %}