{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/Artists/playlists" method="post">
    <fieldset>
      <legend>Create a New Artist</legend>
      <label>
       <input type="text" name="name" placeholder="enter name" />
      </label>
      <label>
       <input type="text" name="album" placeholder="enter album name" />
      </label>
      <label>
        <input type="text" name="image" placeholder="audio file or link" />
      </label>
    </fieldset>
    <input type="submit" value="create new artist" />
  </form>
</div>
{% endblock %}
