{% layout "layout.liquid" %} {% block content %}
<div class="firstpages" >
  <form action="/Artists/playlists" method="POST">
    <fieldset>
      <legend>Create New Track</legend>
      <label>
       <input type="text" name="name" placeholder="enter name" />
      </label>
      <label>
       <input type="text" name="album" placeholder="enter album name" />
      </label>
      <label>
        <input type="text" name="aud" placeholder="audio file or link" />
      </label>
    </fieldset>
    <input type="submit" value="create new artist" />
  </form>
</div>
{% endblock %}
