{% layout "layout.liquid" %} {% block content %}
  <article>

    <form action="/Artists/playlists" method="POST">
   
    {% for e in  src %}
<div class="showdiv">
<h2>{{ e.artistName }}</h2>
<h3>{{ e.name }}</h3>
<!-- <h4>{{ e.albumName }}</h4> -->

<audio class="audio" controls >
  <source class="audio" src="{{ e.previewURL }}" type="audio/mpeg">
</audio>
</form>

<form action="/Artists/playlists" method="POST">
<input type="submit" value="Add to Playlist" />
</form>
</div>

 

</article>

{% endfor %}



{% endblock %}
     