{% layout "layout.liquid" %} {% block content %}
  <article>

   
   

    {% for e in  src %}
    <form action="/artists/playlists" method="POST">
<div class="showdiv">
<h2 type="text" name="name" >{{ e.artistName }}</h2>
<h3  type="text" name="album" >{{ e.name }}</h3>
<!-- <h4>{{ e.albumName }}</h4> -->

<audio  controls >
  <source name="aud" class="audio" src="{{ e.previewURL }}" type="audio/mpeg">
</audio>


<input type="submit" value="Add to Favorites" />
</form>


</div>


{% endfor %}


</article>
{% endblock %}
     