{% layout "layout.liquid" %} {% block content %}
<div>
  <article>

    <form action="/Artists/playlists" method="POST">
    
    {% for e in  src %}
<div>
<h2>{{ e.artistName }}</h2>
<h3>{{ e.name }}</h3>
<!-- <h4>{{ e.albumName }}</h4> -->

<audio class="audio" controls >
  <source class="audio" src="{{ e.previewURL }}" type="audio/mpeg">
</audio>
</div>

 
<input type="submit" value="Add to Playlist" />
{% endfor %}

</form>

  </article>
</div>
{% endblock %}
     