{% layout "layout.liquid" %} {% block content %}

<audio id="audpl" controls >
    <source name="aud" id="audpl"  src="{{ aud }}" type="audio/mpeg">
  </audio>
  
<p>{{ response.lyrics }}</p>

{% endblock %}